@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}
h2,a,p,h1,h3,body,button,input,pre {
  background: none;
  font-family: var(--primary-font);
  margin: 0; 
  padding: 0;
  text-decoration: none;
}

/* Main CSS */

:root {
  /* Radius */
  --radius: 44px;
  --smaller-radius: 8px;

  /* Fonts */
  --primary-font: "Onest", sans-serif;
  --title-font: 2em;
  --subtitle-font: 22px;
  --med-font: 16px;
  --small-font: 14px;

  /* Colours */
  --green: #55A84A;
  --page-bg: #f8f9fa;
  --primary-color: #e72330;
  --primary-color80: rgba(231, 35, 48, 0.85);
  --grey: rgb(58, 58, 58);

  /* Transitions */
  --t-speed: 0.2s ease;

  /* Padding */
  --side-padding: 72px;
  --top-padding: calc(0.75*var(--side-padding));

  /* Icons */
  --external-link: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000000' fill-rule='evenodd' d='M18.885 2a1 1 0 00-1-1h-6a1 1 0 100 2h3.586L9.178 9.293a1 1 0 101.414 1.414l6.293-6.293V8a1 1 0 102 0V2zM3.009 3a2.012 2.012 0 00-1.998 2.218c.148 1.453.374 3.978.374 5.782 0 1.746-.212 4.17-.36 5.642a2.028 2.028 0 002.218 2.218c1.473-.148 3.896-.36 5.642-.36 1.804 0 4.33.226 5.782.374a2.012 2.012 0 002.218-1.998V12a1 1 0 10-2 0v4.878l-.003.003a.018.018 0 01-.006.003h-.006c-1.451-.147-4.068-.384-5.985-.384-1.857 0-4.37.222-5.842.37h-.008a.034.034 0 01-.012-.008.033.033 0 01-.008-.012.01.01 0 010-.002v-.006c.148-1.473.37-3.985.37-5.842 0-1.917-.237-4.534-.385-5.985v-.006l.004-.006A.016.016 0 013.007 5h4.878a1 1 0 000-2H3.009z'/%3E%3C/svg%3E") 8 8, auto;
  --external-link-red: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23e72330' fill-rule='evenodd' d='M18.885 2a1 1 0 00-1-1h-6a1 1 0 100 2h3.586L9.178 9.293a1 1 0 101.414 1.414l6.293-6.293V8a1 1 0 102 0V2zM3.009 3a2.012 2.012 0 00-1.998 2.218c.148 1.453.374 3.978.374 5.782 0 1.746-.212 4.17-.36 5.642a2.028 2.028 0 002.218 2.218c1.473-.148 3.896-.36 5.642-.36 1.804 0 4.33.226 5.782.374a2.012 2.012 0 002.218-1.998V12a1 1 0 10-2 0v4.878l-.003.003a.018.018 0 01-.006.003h-.006c-1.451-.147-4.068-.384-5.985-.384-1.857 0-4.37.222-5.842.37h-.008a.034.034 0 01-.012-.008.033.033 0 01-.008-.012.01.01 0 010-.002v-.006c.148-1.473.37-3.985.37-5.842 0-1.917-.237-4.534-.385-5.985v-.006l.004-.006A.016.016 0 013.007 5h4.878a1 1 0 000-2H3.009z'/%3E%3C/svg%3E") 8 8, auto;
}

button {
  cursor: pointer;
  transition: transform var(--t-speed);
}
button:hover {
  transform: translateY(-2px);
}

h1 {
  font-size: var(--title-font);
}
h2 {
  font-weight: 900;
  font-size: var(--subtitle-font);
}

body {
  display: flex;
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
  background: var(--page-bg);
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-btn {
  margin-right: 8px;
  font-weight: 500;
  font-size: var(--med-font);
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 16px;
  border-radius: var(--smaller-radius);
  transition: all var(--t-speed);
  box-shadow: 10px 10px rgba(0, 0, 0, 1);
}
.main-btn:hover {
  box-shadow: 8px 8px rgba(0, 0, 0, 1);
  transform: translateY(-2px);
}

.dashboard {
  flex-grow: 1; 
  flex-shrink: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--top-padding) var(--side-padding);
  width: 1184px; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 64px;
  row-gap: 32px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  padding: 16px 20px;
  border-radius: var(--radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.recently-shipped {
  grid-column: 1;
  grid-row: 1 / span 2; /* Full height on the left */
}

.weekly-sales {
  grid-column: 2;
  grid-row: 1;         /* Top right */
}
.weekly-sales .card canvas {
  max-width: 100%;
  height: 203px !important
}

.ebay-listings {
  grid-column: 2;
  grid-row: 2;         /* Bottom right */
}

.listings {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.listing-item * {
  font-size: var(--small-font);
}
.listing-item {
  justify-content: space-between;
  padding: 12px 4px;
  gap: 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.listing-item p,
.listing-item a {
  color: var(--grey);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  /* Limit to two lines */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-width: 72%;
}


.v-on-ebay {
  transition: all var(--t-speed);
}
.v-on-ebay:hover {
  color: purple;
  cursor: pointer;
  text-decoration: underline;
}
.v-on-ebay {
  min-width: 16%;
}

.listings img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.price {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: right;
}
#profit {
  font-size: var(--small-font);
}

.blob1, .blob2 {
  position: fixed;
  z-index: -1;
}
.blob1 {
  bottom: 0;
  right: 15%;
  width: 800px;
}
.blob2 {
  bottom: 0;
  right: 0;
  width: 400px;
}

.card-title {
  font-weight: 600;
  gap: 8px;
  display: flex;
  align-items: center;
}
.card-title img {
  width: 28px; 
  height: 28px;
}

.titnsub {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-subtitle {
  color: var(--grey);
  font-size: var(--med-font);
  font-weight: 400;
}

.green {
  color: var(--green);
}

.card-title, .card-subtitle {
  padding-left: 8px;
}

.distort-pane {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
}

::selection {
  background-color: var(--primary-color);
  color: white;
}

.view-all-btn {
  width: 100%;
  cursor: pointer;
  padding: 12px; 
  font-size: var(--med-font);
  color: var(--primary-color);
  text-align: center;
  margin-bottom: -12px;
}
a {
  cursor: pointer;
  transition: all var(--t-speed);
}
a:hover {
  text-decoration: underline;
}

.red {
  color: var(--primary-color);
}

.link-wrapper {
  gap: 32px;
  width: 44%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}


#new-items {
  font-weight: bold;
  color: var(--primary-color);
}



.link-btn,
.linked {
  text-align: center;
  border-radius: var(--radius);
  border: 2px solid var(--primary-color);
  padding: 8px 16px;
  font-weight: bold;
  color: var(--primary-color);
  transition: all var(--t-speed);
}
.link-btn:hover {
  color: white;
  background: var(--primary-color);
}
.linked {
  pointer-events: none;
  border-color: var(--green);
  color: var(--green);
  padding: 4px 8px;
  cursor: default;
}

/* Listing item & input */
.listing-item {
  position: relative;
  overflow: hidden;
}
.unlinked:has(.link-btn):hover img,
.unlinked:has(.link-btn):hover a,
.unlinked:has(.link-btn):hover .price {
  opacity: 0;
}
.listing-item .url-input {
  width: 100%;
  background: white;
  font-size: var(--small-font);
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: var(--radius);
  padding: 16px;
}
.moving-input {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.32s ease;
}
.listing-item:hover:not(:has(.linked)) .moving-input {
  transform: translateX(0);
}



.notif {
  color: white;
  padding: 2px 9px;
  border-radius: var(--radius);
  background: var(--primary-color);
}

.horiz-line {
  width: 100%;
  height: 1px;
  background: black;
  opacity: 0.2;
}

.active-nav {
  color: var(--primary-color);
}
.red80 {
  color: var(--primary-color80);
}


.auto-link {
  white-space: nowrap;
  cursor: pointer;
  border-radius: var(--radius);
  color: var(--primary-color);
  padding: 36px; margin: -36px;
}
.auto-link:hover {
  text-decoration: underline;
  cursor: var(--external-link-red);
}

.ebay-listing-input {
  position: unset;
}

.img-and-title {
  align-items: center;
  width: 48%;
  padding: 12px; margin: -12px;
  gap: 16px;
  display: flex !important;
}
.img-and-title:hover {
  text-decoration: underline;
  cursor: var(--external-link);
}